*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}

/* ========================Top section start=============== */

.top-banner
.top-container{
    display: flex;
    margin-top: 80px;
}
.text-container{
    width: 650px;
    margin-left: 60px;
    margin-top: 190px;
    height: 234px;
   
}
.text-container h2{
    font-weight: 800;
    margin-bottom: 30px;
    font-size: 67px;
    opacity: 0.8;
}
.text-container p{
    font-size: 20px;
}
span{
    color: rgba(251, 162, 79, 1);
}
p{
    opacity: 0.4;
    margin-bottom: 50px;
}
a{
    text-decoration: none;
    background-image: linear-gradient(to right, lightsalmon, rgb(230, 48, 16));
    padding:20px 30px 20px 30px;
    color: white;
    border-radius: 30px;
    box-shadow: 5px 3px 20px  lightcoral;
}
.img-container{
    width: 50%;
    margin-bottom: 100px;
}
.img-container img{
    width:100% ;
    height: auto;
}
/*===================== Top section end  ============================= */
/* ===================== Middle section start ==========================*/

.middle-section{
    background-image: url(.//images/shapes/7.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-top: 50px;
}
.middle-container{
    display: flex;
    margin-bottom: 200px;

}
.middle-img-container{
    margin-left: 40px;
}
.middle-img-container img{
    width: 48% ;
    height: auto;
    margin-left: 150px;
    margin-top: 40px;
}
.middle-text-container{
    width: 80%;
    margin-left: 10px;
    margin-top: 80px;
}.middle-text-container h2{
    margin-top: 62px;
    font-size: 40px;
    opacity: 0.8;
}
.middle-text-container p{
    opacity: 0.4;
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 15px;
    line-height: 30px;
}
.middle-text-container a{
    margin-bottom: 150px;
}





/* ===================== Middle section End =========================== */