*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}

/* ========================Top section start=============== */

.top-banner
.top-container{
    display: flex;
    margin-top: 80px;
}
.text-container{
    width: 650px;
    margin-left: 60px;
    margin-top: 190px;
    height: 234px;
   
}
.text-container h2{
    font-weight: 800;
    margin-bottom: 30px;
    font-size: 67px;
    opacity: 0.8;
}
.text-container p{
    font-size: 20px;
}
span{
    color: rgba(251, 162, 79, 1);
}
p{
    opacity: 0.4;
    margin-bottom: 50px;
}
a{
    text-decoration: none;
    background-image: linear-gradient(to right, lightsalmon, rgb(230, 48, 16));
    padding:20px 30px 20px 30px;
    color: white;
    border-radius: 30px;
    box-shadow: 5px 3px 20px  lightcoral;
}
.img-container{
    width: 50%;
    margin-bottom: 40px;
}
.img-container img{
    width:100% ;
    height: auto;
}
/*===================== Top section end  ============================= */
/* ===================== Middle section start ==========================*/

.middle-section{
    background-image: url(.//images/shapes/7.png);
    background-repeat: no-repeat; 
    background-position: left;
    margin-top: 50px;
}
.middle-container{
    display: flex;
    margin-bottom: 100px;

}
.middle-img-container{
    width: 50%;
    margin-left: 40px;
}
.middle-img-container img{
    width: 48% ;
    height: auto;
    margin-left: 100px;
    margin-top: 40px;
}
.middle-text-container {
    width: 50%;
    margin-left: -49px;
    margin-top: 80px;
    text-align: justify;
}
.middle-text-container h2{
    margin-top: 62px;
    font-size: 40px;
}
.middle-text-container p {
    width: 448px;
    height: 185px;
    margin-top: 50px;
    margin-bottom: 35px;
    font-size: 15px;
    line-height: 26px;
    margin-right: 20px;
}


/* ===================== Middle section End =========================== */
/* ===================== Recipie Section Start ======================== */

.recipie-info{
    text-align: center;
}
.recipie-info h2{
    margin-bottom: 20px;
}
.recipie-info p {
    margin: 0 325px;
    width: 738px;
    height: 229px;
    text-align: center;
    line-height: 28px;
}
.recipie-item {
    display: flex;
    padding: 18px;
    margin: 0px;
    width: 102%;
}
.recipie-item img{
    width: 100%;
}

.item1 {
    width: 58%;
    box-shadow: 10px 10px 30px gray;
    margin-left: 2%;
    margin-right: 4%;
    margin-bottom: 91px;
    padding: 19px;
    border-radius: 32px;
    height: 480px;
}
 .item1 h2{
     margin-top: 20px;
     margin-bottom: 15px;
 }
.item1 img{
    border-radius: 15px;
}
/* ===================== Recipie Section End ======================== */
